html, body {
    margin: 0;
    padding: 0;
    font-family: Avantgarde, "TeX Gyre Adventor", "URW Gothic L", sans-serif;
    color: black;
}

p {
    font-size: 20px;
    text-align: center;
}

button {
    background-color: #5d44f8;
    border: none;
    color: white;
    cursor: pointer;
}

select {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.homepage {
    display: flex;
    flex-direction: row;
    gap: 0;
    overflow: hidden;
    height: 100vh;
}

.content {
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

main {
    flex-grow: 1;
    min-height: calc(100vh - 150px);
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.background-image {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: inherit;
    z-index: -1;
}

table {
    background-color: rgba(255, 255, 255, 0.8);
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer {
    text-align: center;
    background-color: gray;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.footer-content {
    padding: 10px;
    margin: 0;
}

.footer a {
    font-size: 2em;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 5px;
}

.footer a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.footer a:hover::after {
    transform: scaleX(1);
}

.pagebody {
    padding: 2%;
    margin-top: 1%;
    align-items: center;
    position: relative;
    flex-grow: 1;
    margin: 20px; 
}

.page-content {
    padding: 2%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.back-button {
    position: absolute;
    left: 15px;
    top: 15px;
    color: #5d44f8;
}

.back-button:hover {
    color: #4130b2;
}